EPRT doesn't correctly handle IPv6 addresses

Mailed directly to me from a user:

Hi,
We are using pyftpdlib in the test suite of Open vSwitch (see openvswitch.org).
I encountered the problem where the pyftpdlib would reject EPRT commands opening the active data connection when the connection had been mangled by Linux NAT.
Here is the debug log of the failed connection:

```
[I 15-10-29 17:09:02] >>> starting FTP server on :::21, pid=122735 <<<
[I 15-10-29 17:09:02] poller: <class 'pyftpdlib.ioloop.Epoll'>
[I 15-10-29 17:09:02] masquerade (NAT) address: None
[I 15-10-29 17:09:02] passive ports: None
[I 15-10-29 17:09:02] use sendfile(2): True
[I 15-10-29 17:09:06] fc00::240:49216-[] FTP session opened (connect)
[D 15-10-29 17:09:06] fc00::240:49216-[] -> 220 pyftpdlib 1.2.0 ready.
[D 15-10-29 17:09:06] fc00::240:49216-[] <- USER anonymous
[D 15-10-29 17:09:06] fc00::240:49216-[] -> 331 Username ok, send password.
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- PASS ******
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 230 Login successful.
[I 15-10-29 17:09:06] fc00::240:49216-[anonymous] USER 'anonymous' logged in.
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- SYST
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 215 UNIX Type: L8
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- PWD
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 257 "/" is the current directory.
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- TYPE I
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 200 Type set to: Binary.
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- EPRT |2|fc00:0000:0000:0000:0000:0000:0000:0240|33134|
[W 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 501 Rejected data connection to foreign address fc00:0000:0000:0000:0000:0000:0000:0240:33134.
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] <- LPRT 6,16,252,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,145,239
[D 15-10-29 17:09:06] fc00::240:49216-[anonymous] -> 500 Command "LPRT" not understood.
[I 15-10-29 17:09:06] fc00::240:49216-[anonymous] FTP session closed (disconnect).
```

I could get around this by having this setting:

```   
         permit_foreign_addresses = True
```

which tells me that IPv6 address comparison fails, since the format in the packet is not normalized, as you can see from the “501” line. However, it is the same address and should be considered as the same:

- RFC 2428 (https://tools.ietf.org/html/rfc2428) specifies the address format as “IPv6 string representations defined in [RFC 2373]”. RFC 2373 has been obsolete by newer RFCs, and I believe the latest relevant one is RFC 5952 (https://tools.ietf.org/html/rfc5952) “A Recommendation for IPv6 Address Text Representation”. Therein:

“As IPv6 deployment increases, there will be a dramatic increase in
   the need to use IPv6 addresses in text.  While the IPv6 address
   architecture in Section 2.2 of RFC 4291 describes a flexible model
   for text representation of an IPv6 address, this flexibility has been
   causing problems for operators, system engineers, and users.  This
   document defines a canonical textual representation format.  It does
   not define a format for internal storage, such as within an
   application or database.  It is expected that the canonical format
   will be followed by humans and systems when representing IPv6
   addresses as text, but all implementations must accept and be able to
   handle any legitimate RFC 4291 format."

The format seen on the EPRT command in the log above is in one of these legitimate RFC 4291 formats.

This problem can be fixed in pyftpdlib by normalizing the address received from the EPRT command as below:

```
--- /usr/share/pyshared/pyftpdlib/handlers.py.old	2015-10-29 17:01:25.543829322 -0700
+++ /usr/share/pyshared/pyftpdlib/handlers.py	2015-10-29 17:01:40.195437223 -0700
@@ -1935,6 +1935,9 @@
             if self._af == socket.AF_INET:
                 self.respond('522 Network protocol not supported (use 1).')
             else:
+                # Normalize the string representation of the remote IPv6 address
+                internal = socket.inet_pton(socket.AF_INET6, ip)
+                ip = socket.inet_ntop(socket.AF_INET6, internal)
                 self._make_eport(ip, port)
         else:
             if self._af == socket.AF_INET:
```

I’m not sure if it is just luck that self.remote_ip is in the same normalized format as produced by init_ntop(), but it seems to work. To be sure, it may be better to normalize self.remote_ip in the same way. For now we need to rely on the “permit_foreign_addresses = True” fix, which is unfortunate as the test case in question is to make sure NAT works properly, and one failure mode is the case where the EPRT line is not mangled properly and the data connection is opened to the non-NATted address.

With regards,

  Jarno Rajahalme

Closing as duplicate of https://github.com/giampaolo/pyftpdlib/issues/373